@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --clr-top-text: #3A405A;
    --clr-greenish: #83B775;
    --clr-blueish: #7DA1D3;
    --clr-orange: #FD9F25;
    --clr-yel: #FFC744;
    --clr-top-donut-blue: #7DA1D3;
    --clr-top-donut-yellow: #FFC744;
    --clr-top-donut-green: ##83B775;
    --clr-dot-uk: #FFB75B;
    --clr-dot-us: #EFE1F2;
    --clr-dot-aus: #FFDCAC;
    --clr-dot-can: #C9D8ED;
    --clr-dot-av: #83B775;
    --clr-body-background: #F3F4F5;
    --clr-boxes: white;
    
    --gap-bw-elements: 15px;
    --gap-bottom-stats-left-dollar: 18px;
    --gap-bottom-stats-bottom-dollar: 11px;
    --gap-bottom-stats-color-map: 5px;
    --gap-bottom-mrr-bottom-months: 18px;

    --margin-top-vs: 10px;
    --margin-top-page-views: 20px;
    
    --absolute-top-title: 15px;
    --absolute-left-title: 15px;
    --absolute-top-percent: 2px;
    --absolute-right-percent: -20px;
    --absolute-top-dollar: 6px;
    --absolute-left-dollar: -10px;
    --absolute-top-white-circle: 50%;
    --absolute-left-white-circle: 50%;
    --absolute-top-ref: 0;
    --absolute-left-ref: -35px;
    --absolute-top-dir: -20px;
    --absolute-right-dir: 50px;
    --absolute-bottom-org: -10px;
    --absolute-right-org: -65px;
    
    --width-top-boxes: 240px;
    --width-bot-boxes: 495px;
    --width-pie-chart: 150px;
    --width-white-circ: 80px;
    --width-elements: 100%;
    --width-bottom-mrr-bar: 30px;

    --height-top-elems: 215px;
    --height-bot-elems: 430px;
    --height-pie-chart: 150px;
    --height-white-circ: 80px;
    --heigh-bottom-mrr-bar1: 195px;
    --heigh-bottom-mrr-bar2: 260px;
    --heigh-bottom-mrr-bar3: 197px;
    --heigh-bottom-mrr-bar4: 228px;
    --heigh-bottom-mrr-bar5: 200px;
    --heigh-bottom-mrr-bar6: 99px;

    --font-size-each-title: 14px;
    --font-size-num: 50px;
    --font-size-percent: 25px;
    --font-size-vs-previous: 9px;
    --font-size-dollar: 20px;
    --font-size-pie-tag: 10px;
    --font-size-bottom-stats-left-dollar: 16px;
    --font-size-bottom-stats-bottom-dollar: 15px;
    --font-size-bottom-stats-country: 12px;
    --font-size-bottom-mrr-left-dollars: 16px;
    --font-size-bottom-mrr-bottom-months: 13px;

    --font-weight-title: 500;
    --font-weight-num: 900;
    --font-weight-change-percent: 400;

    --border-radius-boxes: 10px;
    --border-radius-pie: 50%;


    --angle-pie-yellow-to-blue: 335deg;
    --angle-pie-blue-to-green: 20deg;
    --angle-pie-green-to-yellow: 315deg;
}

body {
    background-color: var(--clr-body-background);
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}
.all {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-bw-elements);
}
.top-elements {
    width: calc(var(--width-elements) - 2*var(--gap-bw-elements));
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-bw-elements);
    padding-top: var(--gap-bw-elements);
}

.top-elements-each-pair {
    width: calc(((var(--width-elements) - var(--gap-bw-elements)) / 2));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-bw-elements);
}
.top-new-wins, .top-win-rate, .top-new-mrr, .top-page-views {
    min-width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-boxes);
    border-radius: var(--border-radius-boxes);
    width: calc((var(--width-elements) - var(--gap-bw-elements)) / 2);
    height: var(--height-top-elems);
}
.each-box-title {
    position: absolute;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-each-title);
    top: var(--absolute-top-title);
    left: var(--absolute-left-title);
    height: fit-content;
}
.top-boxes-num {
    position: relative;
    font-size: var(--font-size-num);
    font-weight: var(--font-weight-num);
    color:var(--clr-top-text);
}
.top-boxes-change-percent {
    font-size: var(--font-size-percent);
    font-weight: var(--font-weight-change-percent);
    color:#83B775;
}
.top-boxes-vs-previous {
    margin-top: var(--margin-top-vs);
    font-size: var(--font-size-vs-previous);
    color:grey;
}
#top-win-rate-percent-symbol {
    position: absolute;
    font-size: var(--font-size-percent);
    top: var(--absolute-top-percent);
    right: var(--absolute-right-percent);
    font-weight: normal;
    font-weight: var(--font-weight-num);
}
#top-new-mrr-dollar {
    position: absolute;
    font-size: var(--font-size-dollar);
    top: var(--absolute-top-dollar);
    left: var(--absolute-left-dollar);
    font-weight: normal;
    font-weight: var(--font-weight-num);
}
.top-page-views-pie {
    position: absolute;
    width: var(--width-pie-chart);
    height: var(--height-pie-chart);
    border-radius: var(--border-radius-pie);
    margin-top: var(--margin-top-page-views);
    background: conic-gradient(         
        var(--clr-top-donut-blue) 0deg var(--angle-pie-blue-to-green),
        var(--clr-top-donut-green) var(--angle-pie-blue-to-green) var(--angle-pie-green-to-yellow),
        var(--clr-top-donut-yellow) var(--angle-pie-green-to-yellow) var(--angle-pie-yellow-to-blue),
        var(--clr-top-donut-blue) var(--angle-pie-yellow-to-blue) 360deg         
        );
}
.white-circle {
    position: absolute;
    border-radius: var(--border-radius-pie);
    width: var(--width-white-circ);
    height: var(--height-white-circ);
    background-color: white;
    top: var(--absolute-top-white-circle);
    left: var(--absolute-left-white-circle);
    transform: translate(-50%, -50%);
}
#org {
    position: absolute;
    bottom: var(--absolute-bottom-org);
    right: var(--absolute-right-org);   
}
#ref {
    position: absolute;
    top: var(--absolute-top-ref);
    left: var(--absolute-left-ref);
}
#dir {
    position: absolute;
    top: var(--absolute-top-dir);
    right: var(--absolute-right-dir);
}  
#org, #ref, #dir {
    border: none;
}
#org:hover, #ref:hover, #dir:hover {
    opacity: 0.5;
}

.bottom-elements {
    width: calc(var(--width-elements) - 2*var(--gap-bw-elements));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-bw-elements);
    margin-bottom: var(--gap-bw-elements);
}
.bottom-stats-country, .bottom-mrr {
    width: calc((var(--width-elements) - var(--gap-bw-elements)) / 2);
    position: relative;
    background-color: var(--clr-boxes);
    border-radius: var(--border-radius-boxes);
    height: var(--height-bot-elems);
} 
.bottom-stats-left-dollar {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: var(--font-size-bottom-stats-left-dollar);
    left: -50px;
}
.bottom-stats-dot-graph {
    position: absolute;
    bottom: 20%;
    right: 8%;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 75%;
    height: 65%;
}
.bottom-stats-bottom-dollar {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-bottom-stats-bottom-dollar);
    bottom: -30px;
}
.bottom-stats-color-map {
    position: absolute;
    width: 100%;
    bottom: -65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap-bottom-stats-color-map);
} 
.bottom-stats-opacity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.bottom-stats-opacity-buttons:hover {
    opacity: 0.5;
}
.bottom-stats-country-name {
    font-size: var(--font-size-bottom-stats-country);
}
.bottom-stats-each-country-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.bottom-stats-dot-graph-countries-us {
    background-color: var(--clr-dot-us);
}
.us-num1 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--clr-dot-us);
    top: 3%;
    left: 44%;
}
.us-num2 {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: var(--clr-dot-us);
    top: 55%;
    left: 62%;
    z-index: 1;
}
.us-num3 {
    position: absolute;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--clr-dot-us);
    top: 48%;
    right: 0%;
}
.bottom-stats-dot-graph-countries-aus {
    background-color: var(--clr-dot-aus);
}
.aus-num1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--clr-dot-aus);
    bottom: 28%;
    left: 24%;
    z-index: 1;
}
.aus-num2 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--clr-dot-aus);
    bottom: 16%;
    left: 34%;
}
.aus-num3 {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--clr-dot-aus);
    bottom: 40%;
    left: 45%;
}
.bottom-stats-dot-graph-countries-can {
    background-color: var(--clr-dot-can);
}
.can-num1 {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--clr-dot-can);
    bottom: 11%;
    right: 26%; 
}
.can-num2 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--clr-dot-can);
    right: 6%;
    bottom: 50%;
}
.can-num3 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--clr-dot-can);
    top: 12%;
    left: 38%;
}
.bottom-stats-dot-graph-countries-uk {
    background-color: var(--clr-dot-uk);
}
.uk-num1 {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--clr-dot-uk);
    left: 8%;
    top: 42%;
}
.uk-num2 {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--clr-dot-uk);
    left: 10%;
    bottom: 28%;
}
.uk-num3 {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--clr-dot-uk);
    right: 10%;
    bottom: 7%;
}
.av-num1 {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--clr-dot-av);
    bottom: 37%;
    left: 20%;
}
.av-num2 {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--clr-dot-av);
    left: 17%;
    top: 19%;
}
.av-num3 {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--clr-dot-av);
    bottom: 8.5%;
    left: 18%;
}
.bottom-mrr-bar-chart  {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    right: 8%;
    width: 75%;
    height: 72%;
    
}
.bottom-mrr-bar-chart .table {
    border-top: 1px solid gray;
    height: 100%;
}
.bottom-mrr-left-dollar {
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-bottom-mrr-left-dollars);
    top: -17px;
    left: -60px;
}
.bottom-mrr-bottom-months {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: var(--gap-bottom-mrr-bottom-months);
    font-size: var(--font-size-bottom-mrr-bottom-months);
    bottom: 0;
}
.bottom-mrr-bar-num1 {
    position: absolute;
    top: 27%;
    left: 20%;
    height: var(--heigh-bottom-mrr-bar1);
    width: var(--width-bottom-mrr-bar);
    background-color: var(--clr-blueish);
}
.bottom-mrr-bar-num1 .yellow {
    width: 100%;
    height: 38%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num1 .orange {
    width: 100%;
    height: 56.3%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num2 {
    position: absolute;
    height: var(--heigh-bottom-mrr-bar2);
    width: var(--width-bottom-mrr-bar);
    top: 19.5%;
    left: 32.5%;
    background-color: var(--clr-blueish);
}
.bottom-mrr-bar-num2 .yellow {
    width: 100%;
    height: 46%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num2 .orange {
    width: 100%;
    height: 35%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num2 .green {
    width: 100%;
    height: 6%;
    background-color: var(--clr-greenish);
}
.bottom-mrr-bar-num3 {
    position: absolute;
    top: 29%;
    left: 45%;
    height: var(--heigh-bottom-mrr-bar3);
    width: var(--width-bottom-mrr-bar);
    background-color: var(--clr-blueish);   
}
.bottom-mrr-bar-num3 .yellow {
    width: 100%;
    height: 37%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num3 .orange {
    width: 100%;
    height: 48.8%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num3 .green {
    width: 100%;
    height: 7%;
    background-color: var(--clr-greenish);
}
.bottom-mrr-bar-num4 {
    position: absolute;
    top: 23%;
    left: 57.5%;
    height: var(--heigh-bottom-mrr-bar4);
    width: var(--width-bottom-mrr-bar);
    background-color: var(--clr-blueish);   
}
.bottom-mrr-bar-num4 .yellow {
    width: 100%;
    height: 37%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num4 .orange {
    width: 100%;
    height: 48.8%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num4 .green {
    width: 100%;
    height: 7%;
    background-color: var(--clr-greenish);
}
.bottom-mrr-bar-num5 {
    position: absolute;
    top: 33.5%;
    left: 70%;
    height: var(--heigh-bottom-mrr-bar5);
    width: var(--width-bottom-mrr-bar);
    background-color: var(--clr-blueish);   
}
.bottom-mrr-bar-num5 .yellow {
    width: 100%;
    height: 39%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num5 .orange {
    width: 100%;
    height: 36%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num5 .green {
    width: 100%;
    height: 3%;
    background-color: var(--clr-greenish);
}
.bottom-mrr-bar-num6 {
    position: absolute;
    top: 47%;
    left: 82.5%;
    height: var(--heigh-bottom-mrr-bar6);
    width: var(--width-bottom-mrr-bar);
    background-color: var(--clr-blueish);   
}
.bottom-mrr-bar-num6 .yellow {
    width: 100%;
    height: 62%;
    background-color: var(--clr-yel);
}
.bottom-mrr-bar-num6 .orange {
    width: 100%;
    height: 31%;
    background-color: var(--clr-orange);
}
.bottom-mrr-bar-num6 .green {
    width: 100%;
    height: 4%;
    background-color: var(--clr-greenish);
}

@media (max-width: 480px) {
    :root {
        --width-bottom-mrr-bar: 25px;
    }
    .top-elements-each-pair {
        flex-direction: column;
    }
    .top-new-wins, .top-win-rate, .top-new-mrr, .top-page-views {
        width: 100%;
    }
}
@media (min-width: 480px) and (max-width: 550px) {
    :root {
        --height-pie-chart: 110px;
        --height-white-circ: 60px;
        --width-pie-chart: 110px;
        --width-white-circ: 60px;
        --font-size-each-title: 15px;
        --font-size-num: 30px;
        --font-size-percent: 20px;
        --font-size-vs-previous: 8px;
    }
}
@media (min-width: 550px) and (max-width: 600px) {
    :root {
        --font-size-each-title: 17px;
        --font-size-num: 35px;
        --font-size-percent: 15px;
        --font-size-vs-previous: 6px;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    :root {
        --height-top-elems: 250px;
        --height-bot-elems: 482px;
        --heigh-bottom-mrr-bar1: calc((482/430)*195px);
        --heigh-bottom-mrr-bar2: calc((482/430)*260px);
        --heigh-bottom-mrr-bar3: calc((482/430)*197px);
        --heigh-bottom-mrr-bar4: calc((482/430)*228px);
        --heigh-bottom-mrr-bar5: calc((482/430)*200px);
        --heigh-bottom-mrr-bar6: calc((482/430)*99px);
        --height-pie-chart: 150px;
        --width-pie-chart: 150px;
        --height-white-circ: 80px;
        --width-white-circ: 80px;
        --font-size-each-title: 20px;
        --font-size-num: 40px;
        --font-size-percent: 30px;
        --font-size-vs-previous: 12px;
    }

}
@media (min-width: 700px) and (max-width: 900px) {
    :root {
        --height-top-elems: 250px;
        --height-bot-elems: 600px;
        --height-pie-chart: 180px;
        --heigh-bottom-mrr-bar1: calc((600/430)*195px);
        --heigh-bottom-mrr-bar2: calc((600/430)*260px);
        --heigh-bottom-mrr-bar3: calc((600/430)*197px);
        --heigh-bottom-mrr-bar4: calc((600/430)*228px);
        --heigh-bottom-mrr-bar5: calc((600/430)*200px);
        --heigh-bottom-mrr-bar6: calc((600/430)*99px);
        --width-pie-chart: 180px;
        --height-white-circ: 100px;
        --width-white-circ: 100px;
        --font-size-each-title: 20px;
        --font-size-num: 50px;
        --font-size-percent: 25px;
        --font-size-vs-previous: 10px;
    }
}
@media (max-width: 900px) {
    .top-elements-each-pair, .bottom-stats-country, .bottom-mrr {
        width: 100%;
    }
    .top-elements, .bottom-elements {
        flex-direction: column;
    }
}
@media (min-width: 900px) and (max-width: 1000px) {
    :root {
        --font-size-bottom-mrr-bottom-months: 11px;
        --font-size-bottom-stats-country: 10px;    
    }
}
@media (min-width: 1000px) and (max-width: 1100px) {
    :root {
        --font-size-bottom-mrr-bottom-months: 11px;
    }
}